* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgound: #181B23;
  --white: #FFFFFF;
  --black: #000000;

  --gray-900: #181B23;
  --gray-800: #1F2029;
  --gray-700: #353646;
  --gray-600: #4B4D63;
  --gray-500: #616480;
  --gray-400: #797D9A;
  --gray-300: #9699B0;
  --gray-200: #B3B5C6;
  --gray-100: #D1D2DC;
  --gray-50: #EEEEF2;
  
  
  --blue-100: #3f51b5;
  --blue-500: #283593;
  --blue-500-hover: rgba(40, 53, 147, 0.9);

  --gray-900: #121214;

  --cyan-500: #61dafb;
  --yellow-500: #eba417;
}

body {
  background-color: var(--backgound);
  color: var(--black)
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}